*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 1000;
}
.header__container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    height: 100px;
}
.active{
    color: #E42A4B;
}
.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}
.header__logo{
    color: white;
}
.header__logo i{
    font-size: 30px;
}
.header__logo span{
    font-size: 30px;
    font-weight: 700;
}
nav a{
    margin-right: 20px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.7s;
}
nav a:hover{
    color: #E42A4B;
}
.carousel{
    background-image: url(./image/home_slider.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    min-height: 500px;
    display: flex;
    align-items: center;
    text-align: center;
}
.carousel__container span{
    color: white;
    font-size: 25px;
}
.carousel__container h1{
    color: white;
    font-size: 5rem;
    line-height: 6rem;
    margin-bottom: 20px;
}
.carousel__container button{
    height: 60px;
    width: 150px;
    font-size: 15px;
    color: white;
    border: 1px solid #E42A4B;
    background: #E42A4B;
    margin-bottom: 40px;
    transition: 0.7s;
}
.carousel__container button:hover{
    background-color: #AE213A;
    cursor: pointer;
}
.carousel__container i{
    font-size: 40px;
    color: white;
    animation-name: animate1;
    animation-duration:  1s;
    animation-iteration-count: infinite;
}
.services{
    background: black;
    padding: 100px 40px;
}
.services__detail{
    text-align: center;
}
.services__detail span{
    color: #E42A4B;
    line-height: 40px;
}
.services__detail h1{
    color: white;
    font-size: 40px;
    margin-bottom: 30px;
}
.services__detail p{
    color: #888888;
    font-weight: 700;
    margin-bottom: 30px;
}
.services__slide{
    width: 100%;
}
.slide__item{
    height: 270px;
    padding: 15px;
}
.slide__box{
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    cursor: pointer;
    padding: 0 40px;
}

.slide__box::after{
    content: "";
    width: 5px;
    height: 0;
    background: #E42A4B;
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.3s;
}
.slide__box:hover::after{
    height: 100%;
}
.slide__box i{
    font-size: 50px;
    margin-bottom: 5px;
    color: #888888;
}
.slide__box p{
    color: #888888;
    font-size: 15px;
}
.blog{
    margin: 120px 80px;
}
.blog__container{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    width: 90%;
    gap: 30px;
    margin: 50px auto 0;
}

.blog__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(50%) contrast(50%);
}

.img__1{
    grid-area:1/1/span 2/span 2;
}

.img__10{
    grid-area: 3/3/span 2/ span 2;
}
.blog__img{
    position: relative;
    cursor: pointer;
}
.blog__overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(219, 20, 57, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
}
.blog__icon{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    top: 30px;
    right: 30px;
    background: white;
    transform: translateY(40px);
    transition: 0.5s;
}
.blog__img:hover .blog__icon{
    transform: translateY(0);
}
.blog__img:hover .blog__detail{
    transform: translateY(0);
}
.blog__detail{
    position: absolute;
    bottom: 30px;
    left: 30px;
    transform: translateY(40px);
    transition: 0.5s;
}
.blog__detail span{
    color: #a7a4a4;
}
.blog__detail p{
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.blog__img:hover .blog__overlay{
    opacity: 1;
}

.blog__icon:hover{
    cursor: pointer;
    background: black;
    color: white;
}
.blog__overlay a{
    color: black;
}
.blog__title{
    text-align: center;
}
.blog__title span{
    color:#888888;
}
.blog__title h1{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 80px;
}
.blog__title p{
    color: #888888;
    font-weight: 700;
}
.number{
    width: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.number__container{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 90%;
    height: 250px;
}
.number__item{
    margin: 0 50px;
}
.number span{
    font-size: 50px;
    font-weight: 500;
}
.number p{
    font-size: 16px;
    color: #a7a4a4;
}
.video__container{
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(./image/bussiness_img_1.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.video__item1 video{
   width: 80%;
   object-fit: cover;
   outline: none;
}
.video__container span{
    color: #E42A4B;
    margin-bottom: 10px;
}
.video__container h1{
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}
.video__container p{
    color: #888888;
    font-weight: 700;
    margin-bottom: 25px;
 }
.contact{
    padding: 100px 0;
    text-align: center;
}
.contact h1{
    font-size: 50px;
    margin-bottom: 30px;
}
.contact span{
    color: #888888;
}
.contact__container{
    width: 70%;
    margin: 30px auto 0;
    display: flex;
    align-items: center;
}
.contact__map{
    width: 60%;
    margin-right:15px;
}
.contact__map iframe{
    width: 100%;
    height: 450px;
}
.contact__form{
    width: 40%;
}
.contact__form form{
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}
.contact__form input, .contact__form textarea{
    font-size: 15px;
    padding: 1em;
    border: 1px solid #888888;
    width: 100%;
}
.contact__form button{
    width: 100%;
    height: 50px;
    margin-top: 14px;
    border: none;
    background: black;
    color: white;
    transition: 0.7s;
}
footer{
    background: black;
}
.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
    width: 80%;
}
.footer__copyright span{
    color: white;
}
.footer__us{
    display: flex;
}
.footer__us i{
    color: white;
    font-size: 20px;
    margin-right: 10px;
    border-radius: 50%;
    height: 60x;
    width: 60px;
    background-color: #5a5a5a;
    line-height: 60px;
    text-align: center;
    transition: 0.7s;
}
.contact__form button:hover{
    cursor: pointer;
    background-color: #E42A4B;
}
.fa-facebook-f:hover{
    background-color: blue;
    cursor: pointer;
}
.fa-linkedin-in:hover{
    background-color: #0876B0;
    cursor: pointer;
}
.fa-twitter:hover{
    background-color: #2098E5;
    cursor: pointer;
}
.fa-youtube:hover{
    background-color: red;
    cursor: pointer;
}
/* .back-to-top{
    position: fixed;
    bottom: 100px;
    right: 100px;
    background: white;
    border-radius: 8px;
    width: 50px;
    height: 50px;
} */
@keyframes animate1{
    from{
        transform: translateY(0);
        opacity: 1;
    }
    to{
        transform: translateY(40px);
        opacity: 0;
    }
}
